@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "din";
  src: url("/fonts/DIN-Regular.ttf") format("truetype"),
    url("/fonts/DIN-Bold.ttf") format("truetype"),
    url("/fonts/DIN-Medium.ttf") format ("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

.border-image {
  border: 10rem solid transparent;
  border-image: url('/src/utils/images/p icons.png') 30 round;
}