@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "din";
  src: url("/fonts/DIN-Regular.ttf") format("truetype"),
    url("/fonts/DIN-Bold.ttf") format("truetype"),
    url("/fonts/DIN-Medium.ttf") format ("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

.content-with-border {
  position: relative;
  padding: 5rem;
  box-sizing: border-box;
}

.content-with-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/p icons.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: -1;
  /* padding: 5rem; */
}

.content {
  position: relative;
  background-color: black;
  z-index: 1;
}
