@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "din";
  src: url("/fonts/DIN-Regular.ttf") format("truetype"),
    url("/fonts/DIN-Bold.ttf") format("truetype"),
    url("/fonts/DIN-Medium.ttf") format ("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

.content-with-border {
  position: relative;
  padding: 7rem;
  box-sizing: border-box;
}

.border-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.content {
  position: relative;
  background-color: black;
  z-index: 1;
}
